@inherits LayoutComponentBase
<div class="page">
    <div>
        <Header/>
    </div>
    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    @* Needed for dialogs  *@
    <MudDialogProvider />

    @* Needed for snackbars *@
    <MudSnackbarProvider />
    @* <main class="px-4">
        <article>
            @Body
        </article>
    </main> *@
    <MudMainContent class="p-6 bg-cyan-400">
        @Body
    </MudMainContent>
</div>
